<section class="giscus mx-auto mt-10 w-full"></section>

<script src="https://giscus.app/client.js"
        data-repo="jriou/sniddy1"
        data-repo-id="R_kgDONNKvzA"
        data-category="Blog Posts Comments"
        data-category-id="DIC_kwDONNKvzM4CkM5p"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>